.hero{
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    place-items: center;
    align-items: center;
  }

  .home-title{
    text-align: center;
    font-family: 'Garamond';
    padding-top: 30px;
    place-items: center;
    align-items: center;
  }
  
  .title{
    font-family: 'Garamond', serif;
    border-bottom: 1px solid #000;
    width: 50%;
    place-items: center;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  
  .text{
    font-family: 'Garamond', serif;
    place-items: center;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  
  .footer{
    background-color: gray;
    color: #fff;
    padding-block: 2em;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    display :flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: auto;
  }

  .footer-section p.title {
    font-weight: bold;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5em;
    width: 20%;
  }

  .footer-section {
    flex: 1 1 300px;
    margin: 0 20px;
    align-items: start;
    margin-right: 20px;
    margin-left: 20px; 
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-text{
    font-family: 'Garamond';
    font-size: 15px;
  }
  
  .skills {
    list-style-type: disc;
  }

  
  .skills li {
    display: flex;
    align-items: center;
    margin-left: 500px;
  }
  
  .skills li::before {
    content: '•';
    color: gray;
    margin-right: 40px;
    font-size: 1rem;
    vertical-align: center;
  }
  
  .skills li::marker {
    color: gray;
    text-align: center;
    display: inline-block;
    vertical-align: center;
  }

  .skills-text{
    font-family: 'Garamond', serif;
  }

  .footerTitle{
    font-family: 'Garamond', serif;
    border-bottom: 1px solid #000;
    text-align: center;
  }

  .aboutusimages{
    margin-top: 0;
    margin-left: auto;
    margin-right:auto;
    width: 450px; 
    height: 400px;
  }

  .container {
    display: flex;
  }
  
  .left-section {
    flex: 2;
    margin-left: 100px;
    padding-bottom: 200px;
  }
  
  .right-section {
    flex: 2;
    margin-left: 300px;
    margin-top: 100px;
    padding-bottom: 0;
  }
  